In [1]:
import os

import pandas as pd

import cv2
import numpy as np

from PIL import Image

## Crop and Relocate Images

In [2]:
data_dir = 'media/for_kills_only/'
out_dir = 'media/kills_only/'

existing = pd.read_csv('numbers.csv')
n_existing = len(existing)

to_be_converted = [f'{data_dir}{f}' for f in os.listdir(data_dir) if '.jpg' in f]
n_to_be_converted = len(to_be_converted)

_ = 0
kills_files = []

for f in range(n_existing, n_existing + n_to_be_converted):
    image = Image.open(to_be_converted[_])
    _ += 1
    image = image.crop((139,0,167,28))
    
    if f < 10:
        fn = f'loop_0000{f}'
    elif f < 100:
        fn = f'loop_000{f}'
    elif f < 1000:
        fn = f'loop_00{f}'
    elif f < 10000:
        fn = f'loop_0{f}'
    else:
        raise Exception(f'\nf > 10,000\nf = {f}\n')
        
    fp = f'{out_dir}{fn}.jpg'
    image.save(fp)
    kills_files.append(fp)
    

for file in to_be_converted:
    os.remove(file)

## Label Cropped Images
Any of them (may have some left over from previous sessions, they will be first in line).

In [3]:
existing = pd.read_csv('numbers.csv')

seen_files = [i for i in existing.file_path.values]
n_seen_files = len(seen_files)
numbers = [i for i in existing.numbers.values]

unseen_files = [f'{out_dir}{f}' for f in os.listdir(out_dir) if f'{out_dir}{f}' not in seen_files and '.jpg' in f]
n_unseen_files = len(unseen_files)

if n_to_be_converted != n_unseen_files:
    print(f'Note: {n_unseen_files - n_to_be_converted} preexisting unseen')

print(f'# seen: {n_seen_files}\n# unseen: {n_unseen_files}')

for i in range(n_unseen_files):
    f = unseen_files[i]
    if f in seen_files:
        im = Image.open(f)
        im = im.resize((im.size[0]*8, im.size[1]*8))
        im = np.array(im)
        cv2.imshow('kill_digits', im)
        key = cv2.waitKey(1)
    else:
        if int(f[-9:-4]) % 11 == 0:
            print(f)

        im = Image.open(f)
        im = im.resize((im.size[0]*8, im.size[1]*8))
        im = np.array(im)
        cv2.imshow('kill_digits', im)
        key = cv2.waitKey(500)
        digits = input('What digits are in this image? ')
        numbers.append(digits)
        seen_files.append(f)

# seen: 1433
# unseen: 0

In [4]:
df = pd.DataFrame()

df['numbers'] = numbers
df['file_path'] = seen_files

df

     numbers                        file_path
0          0  media/kills_only/loop_00000.jpg
1          n  media/kills_only/loop_00001.jpg
2          2  media/kills_only/loop_00002.jpg
3          2  media/kills_only/loop_00003.jpg
4          2  media/kills_only/loop_00004.jpg
...      ...                              ...
1428       n  media/kills_only/loop_01428.jpg
1429       n  media/kills_only/loop_01429.jpg
1430       n  media/kills_only/loop_01430.jpg
1431       n  media/kills_only/loop_01431.jpg
1432       n  media/kills_only/loop_01432.jpg

[1433 rows x 2 columns]

In [5]:
df.to_csv('numbers.csv', index=False)

pd.read_csv('numbers.csv')

     numbers                        file_path
0          0  media/kills_only/loop_00000.jpg
1          n  media/kills_only/loop_00001.jpg
2          2  media/kills_only/loop_00002.jpg
3          2  media/kills_only/loop_00003.jpg
4          2  media/kills_only/loop_00004.jpg
...      ...                              ...
1428       n  media/kills_only/loop_01428.jpg
1429       n  media/kills_only/loop_01429.jpg
1430       n  media/kills_only/loop_01430.jpg
1431       n  media/kills_only/loop_01431.jpg
1432       n  media/kills_only/loop_01432.jpg

[1433 rows x 2 columns]